.img-fluid {
	width: 300px;
	height: 300px;
	filter: grayscale(50%);
}

.bannerBackground {
	background-color: lightgray;
	border-radius: 10px;
}

.custom-header {
	font-family: 'Comfortaa', cursive;
	/* Additional styling for the button */
}

.custom-btn {
	width: 200px;
}

.full-width {
	width: 100%;
	object-fit: cover;
}
