.table-container {
  margin-top: 20px;
}

.product-table {
  width: 100%;
  border-collapse: collapse;
}

.product-table th,
.product-table td {
  padding: 12px;
  text-align: left;
}

.product-table th {
  background-color: #f8f9fa;
  font-weight: bold;
}

.product-table tr:nth-child(even) {
  background-color: #f1f1f1;
}

.product-table tr:hover {
  background-color: #e9ecef;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.update-button,
.archive-button,
.inactive-button {
  margin: 4px;
  padding: 8px 12px;
  font-size: 14px;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s;
  cursor: pointer;
  outline: none;
}

.update-button {
  background-color: #007bff;
  color: #fff;
}

.update-button:hover {
  background-color: #0056b3;
}

.archive-button {
  background-color: #dc3545;
  color: #fff;
}

.archive-button:hover {
  background-color: #a71d2a;
}

.inactive-button {
  background-color: #6c757d;
  color: #fff;
  cursor: not-allowed;
}

.inactive-button:hover {
  background-color: #525a61;
}
