.image {
	width: 450px;
	height: 500px;
	filter: grayscale(50%);
	border-radius: 20px;
}

.square {
	width: 100px;
	height: 100px;
	margin: 10px;
	flex: 1 0 1px;
}

.container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding-top: 4px;
}

.square1 {
	background-color: #e5e5e5;
}

.square2 {
	background-color: #c5c5c5;
}

.square3 {
	background-color: #888888;
}
