.product-actions {
	display: flex;
	align-items: center;
}

.quantity-slider {
	display: flex;
	align-items: center;
	margin-left: 1rem;
}

.quantity-slider button {
	width: 2rem;
	height: 2rem;
	border: none;
	background-color: #ccc;
	color: #fff;
	font-weight: bold;
	cursor: pointer;
}

.quantity-slider button:hover {
	background-color: #999;
}

.quantity-slider input {
	width: 4rem;
	margin: 0 0.5rem;
	padding: 0.25rem;
	border: 1px solid #ccc;
	border-radius: 4px;
}

.quantity-input::-webkit-inner-spin-button,
.quantity-input::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}
.quantity-input {
	appearance: none;
	-moz-appearance: textfield;
	border: none;
	text-align: center;
	width: 50px; /* Adjust the width as needed */
}

.cart-icon {
	position: fixed;
	top: 100px;
	right: 40px;
	background-color: #000;
	color: #fff;
	padding: 5px;
	border-radius: 50%;
	cursor: pointer;
	display: flex;
	align-items: center;
}

.cart-item-count {
	margin-left: 5px;
}

.card-body {
	background-color: #d3d3d3;
}
