.modal-content {
  border: none;
  border-radius: 10px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.modal-header {
  background-color: #f8f9fa;
  border-bottom: none;
  padding-bottom: 0;
}

.modal-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 15px;
}

.modal-body {
  padding-top: 0;
}

.form-group {
  margin-bottom: 20px;
}

.form-label {
  font-weight: bold;
  margin-bottom: 5px;
}

.form-control {
  border-radius: 5px;
}

textarea.form-control {
  resize: vertical;
  }
  
  button[type="submit"] {
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 14px;
  transition: background-color 0.3s;
  }
  
  button[type="submit"]:hover {
  background-color: #0056b3;
  }